*{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
}
#container{
    width: 100%;
    height: 5000px;
    background-color: #FF6A40;
}
/* 右侧固定菜单样式 */
.fixedMenu{
    width: 36px;
    background-color: #DBDBDB;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 100;
}
.fixedMenu .fixedMenuMain{
    width: 36px;
    height: 144px;
    position: absolute;
    top: 40%;
}
.fixedMenu .fixedMenuMain a{
    width: 36px;
    height: 36px;
    position: relative;
    /* background-color: aqua; */
    float: left;
}
.fixedMenu .fixedMenuMain a p{
    float: right;
    color: #fff;
}
.fixedMenu .fixedMenuMain a p:nth-of-type(1){
    width: 36px;
    height: 36px;
}
.fixedMenu .fixedMenuMain a p:nth-of-type(2){
    width: 0px;
    height: 36px;
    position: absolute;
    left: -80px;
    background-color: #E92336;
    text-align: center;
    line-height: 36px;
    font-size:12px;
    display: none;
}
.fixedMenu .fixedMenuMain a:nth-of-type(1) p:nth-of-type(1){
    background: url(../img/index/fixedMenu.png) no-repeat;
    background-position: -38px -36px;
}
.fixedMenu .fixedMenuMain a:nth-of-type(2) p:nth-of-type(1){
    background: url(../img/index/fixedMenu.png) no-repeat;
    background-position: -38px -108px;
}
.fixedMenu .fixedMenuMain a:nth-of-type(3) p:nth-of-type(1){
    background: url(../img/index/fixedMenu.png) no-repeat;
    background-position: -38px -252px;
}
.fixedMenu .fixedMenuMain a:nth-of-type(4) p:nth-of-type(1){
    background: url(../img/index/fixedMenu.png) no-repeat;
    background-position: -38px -360px;
}
.fixedMenu .fixedMenuMain a:nth-of-type(3) .popupImg{
    width: 120px;
    height: 162px;
    left: -130px;
    top: -100px;
    background: url(../img/index/qcode_cn.png);
    opacity: 0;
}

.head{
    width: 100%;
    height: 30px;
    background-color: #F4382D;
}
.headmain{
    width: 1190px;
    height: 30px;
    margin: 0 auto;
}
.headLeft{
    width: 370px;
    height: 30px;
    float: left;
    color: #fff ;
}
.headLeft span{
    height: 14px;
    font-size: 12px;
    line-height: 30px;
    color: #fff;
    float: left;
}
.headLeft a{
    width: 68px;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    float: left ;
    margin-top: 8px;
}
.headLeft a:nth-of-type(1){
    width: 40px;
    border-right: 1px solid #fff;
}
.headRight{
    float: right;
}
.headRight ul li{
    float: left;
    list-style: none;
    height: 28px;
    border: 1px solid #F4382D;
    position: relative;
    z-index: 10;
}
.headRight ul li>a{
    color: #fff;
    font-size: 12px;
    width: 89px;
    height: 14px;
    float: left;
    margin-top: 7px;
    text-align:center;
    line-height: 14px;
    border-right: 1px solid #fff;
    
}
.headRight ul li>div{
    position: absolute;
    top: 29px;
    left:-1px;
    border: 1px solid #eee;
    border-top: 0;
    display: none;
}
.headRight ul li div{
    background-color: #fff;
}
.headRight ul li div a{
    float: left;
    color: #333;
}
.headRight ul li:nth-of-type(2) div{
    width: 152px;
    height: 83px;
}
.headRight ul li div a{
    font-size: 12px;
}
.headRight ul li:nth-of-type(2) div a{
    width: 65px;
    height: 24px;
    line-height: 24px;
    margin-left: 5px;
}
.headRight ul li:nth-of-type(2) div a:nth-of-type(-n+2){
    font-weight: 800;
}
.headRight ul li:nth-of-type(3) div{
    width: 91px;
    height: 114px;
}
.headRight ul li:nth-of-type(3) div a{
    width: 86px;
    height: 28px;
    line-height: 28px;
    margin-left: 5px;
}
.headRight ul li:nth-of-type(4) div{
    width: 91px;
    height: 86px;
}
.headRight ul li:nth-of-type(4) div a{
    width: 86px;
    height: 28px;
    line-height: 28px;
    margin-left: 5px;
}
.headRight ul li:nth-of-type(5) div{
    width: 91px;
    height: 86px;
}
.headRight ul li:nth-of-type(5) div a{
    width: 86px;
    height: 28px;
    line-height: 28px;
    margin-left: 5px;
}
.headRight ul li:nth-of-type(6)>div{
    width: 275px;
    height: 258px;
    position: absolute;
    left: -185px;
}
.headRight ul li:nth-of-type(6) div div{
    width: 275px;
    height: 43px;
    line-height: 43px;
    border-top: 1px dashed #ccc;
}
.headRight ul li:nth-of-type(6) div div:nth-of-type(1){
    border-top: 0px;
}
.headRight ul li:nth-of-type(6) div div p{
    float: left;
    margin: 0 10px;
    font-size: 12px;
    font-weight: 800;
}
.headRight ul li:nth-of-type(6) div div a{
    margin-right: 10px;
}

.headRight ul li .shoppingCart{
    background: url(../img/index/double11_icon.png) no-repeat;
}
.headRight ul li:nth-of-type(n+2)>a{
    background: url(../img/index/double11_icon.png) no-repeat;
    background-position: 78px -23px;

}


.headLogo{
    width: 1190px;
    height: 115px;
    margin: 0 auto 30px;
    /* background-color: aqua; */
}
.headLogoLeft{
    float: left;
}
.headLogoLeft img{
    margin-top: 20px;
}
.headLogoRight{
    float: right;
    width: 700px;
    height: 70px;
    /* background-color: bisque; */
    margin-top: 30px;
}
.searchForm{
    width: 700px;
    height: 40px;
}
.searchForm .chanpin{
    float: left;
    width: 78px;
    height: 38px;
    border: 2px solid #F4382D;
    border-right: 1px solid #ccc;
    position: relative;
    background-color: #fff;
}
.searchForm .chanpin>p{
    line-height: 35px;
    text-align: center;
    background: url(../img/index/common_ico.gif) no-repeat;
    background-position: 60px -10px;
}
.searchForm .chanpin div{
    display: none;
    width: 82px;
    height: 67px;
    position: absolute;
    top: 40px;
    left: -2px;
    background: #fff;
    text-align: center;
    line-height: 33px;
    font-size: 14px;
}
.searchForm input{
    width: 410px;
    height: 38px;
    padding-left: 10px;
    border: 0px;
    border-top: 2px solid #F4382D;
    border-bottom: 2px solid #F4382D;
    outline: none;
    float: left;
}
.searchForm a:nth-of-type(1){
    float: left;
    width: 90px;
    height: 42px;
    background-color: #F4382D;
    color: #fff;
    text-align: center;
    line-height: 42px;
    font-size: 14px;
}
.searchForm a:nth-of-type(2){
    float: left;
    width: 90px;
    height: 42px;
    margin-left: 10px;
    text-align: center;
    line-height: 42px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
}
.searchHot ul{
    width: 700px;
    height: 30px;
}
.searchHot ul li{
    float: left;
    margin-left: 10px;
    list-style: none;
}
.searchHot ul li a{
    color: #fff;
    font-size: 12px;
}
/* 头部导航栏区域 */
.headNav{
    width: 1190px;
    height: 40px;
    margin: 0 auto 10px;
}
.headNav ul li{
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    list-style: none;
    position: relative;
}
.headNav ul li a{
    color: #fff;
}
.headNav ul li:nth-of-type(1) a{
    width: 190px;
    float: left;
    background: #E92336 url(../img/index/菜单.png) no-repeat;
    background-position: 10px 14px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 40px;
}
.headNav ul li:nth-of-type(n+2) a{
    width: 110px;
    height: 38px;
    float: left;
    color: #fff;
    font-weight: bolder;
}
.headNav ul li:nth-of-type(n+2) i{
    width: 16px;
    height: 3px;
    background-color: #E92336;
    border-radius:1px;
    position: absolute;
    top: 33px;
    left: 45px;
}
.headNav ul li:nth-of-type(n+3) i{
    display: none;
}
/* main主内容 */
.main{
    width: 1190px;
    height: 540px;
    margin: 200px auto 0;
    /* background: violet; */
}
.mainLeft{
    width: 190px;
    height: 540px;
    box-sizing: border-box;
    padding-top: 10px;
    background: #fff;
    position: relative;
    float: left;
}
.mainLeftNav{
    position: relative;
}
.mainLeft .mainLeftNav>ul>li{
    width: 170px;
    height: 36px;
    line-height: 36px;
    list-style: none;
    padding-left: 20px;
}
.mainLeft .mainLeftNav>ul>li:hover{
    background: #eee;
    color: #e41b2e;
}
.mainLeft .mainLeftNav>ul>li:hover>a{
    color: #e41b2e;
}
.mainLeft .mainLeftNav>ul>li>a:hover{
    text-decoration: underline;
}
.mainLeft .mainLeftNav>ul>li>a{
    font-size: 14px;
    font-weight: bolder;
    color: #333;
}
.mainLeft .mainLeftNav>ul>li>span{
    display: inline-block;
    margin: 0 5px;
}


/* ****************未完***************** */
.mainLeftNav ul li div{
    width: 810px;
    height: 540px;
    position: absolute;
    top: -10px;
    left: 190px;
    display: none;
    z-index: 99;
    background: #fff;
    border: 1px solid red;
}
/* ****************未完***************** */

.mainCenter{
    width: 790px;
    height: 540px;
    margin: 0 10px;
    float: left;
}
/* banner图 开始*/

.mainCenter .bannerMain{
    width: 790px;
    height: 390px;
    position: relative;
    cursor: pointer;
}
.bannerMain img{
    position: absolute;
    top:0px;
    left:0px;
    opacity: 0;
}
.bannerMain img:nth-of-type(1){
    opacity: 1;
}
.bannerMain .bmLeftImg{
    width: 36px;
    height: 36px;
    position: absolute;
    top: 45%;
    left: 10px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .3);
    color: #fff;
    text-align: center;
    line-height: 32px;
    font-size: 30px;
    display: none;
    cursor: pointer;
}
.bannerMain .bmRightImg{
    width: 36px;
    height: 36px;
    position: absolute;
    top: 45%;
    right: 10px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .3);
    color: #fff;
    text-align: center;
    line-height: 32px;
    font-size: 30px;
    display: none;
    cursor: pointer;

}
.bannerMain div{
    width: 90px;
    height: 17px;
    /* background: #E92336; */
    position: absolute;
    bottom: 20px;
    left: 45%;
}
/* 要显示的span */

.bannerMain div span{
    float: left;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 5px;
    cursor: pointer;

}
.showSpan{
    background: #E92336 !important;
}
/* banner图 结束*/

.mainCenterBottom{
    width: 790px;
    height: 140px;
    margin-top: 10px;
}
.mainCenterBottom div{
    float: left;
    width: 190px;
    height: 140px;
    margin-right: 10px;
    position: relative;
    background-color: #fff;
}
.mainCenterBottom div:nth-of-type(4){
    margin: 0;
}
.mainCenterBottom div:hover{
    transform: translate(0,-5px);
}
.mainCenterBottom div:hover span{
    color: #e41b2e;
}
.mainCenterBottom div h3{
    width: 190px;
    height: 30px;
    box-sizing: border-box;
    padding: 10px 15px 5px;
    font-size: 16px;
    cursor: pointer;
}
.mainCenterBottom div p{
    color: #ccc;
    height: 18px;
    line-height: 18px;
    padding-left: 15px;
    font-size: 12px;
    /* z-index要起作用的前提是需要有position */
    position: relative;
    z-index: 10;
    cursor: pointer;
}
.mainCenterBottom div span{
    width: 56px;
    height: 20px;
    border: 1px solid #f0868f;
    color: #f0868f;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    left: 15px;
    cursor: pointer;
}
.mainCenterBottom div img{
    width: 110px;
    height: 110px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
}
.mainRight{
    width: 190px;
    height: 540px;
    float: left;
}
.mainRight .mainRightTop{
    width: 190px;
    height: 330px;
    margin-bottom: 10px;
    background-color: #fff;
}
.mainRight .mainRightTop .logoSign{
    width: 190px;
    height: 124px;
    border-bottom: 1px solid #ccc;
}
.logoSign a{
    width: 130px;
    height: 30px;
    margin: 0 30px;
    float: left;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}
.logoSign a:nth-of-type(1){
    color: #fff;
    background-color: #E92336;
    margin-top: 25px;
    margin-bottom: 15px;
}
.logoSign a:nth-of-type(2){
    color: #E92336;
    background-color: #fff;
    border: 1px solid #E92336;
}
.mainRightTop .switchMenu{
    width: 190px;
    height: 190px;
    position:relative;
}
.switchMenu p{
    float: left;
    width: 95px;
    height: 40px;
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 13px;
    text-align: center;
    position: relative;
}
.menuShow{
    color: #E92336;
    font-weight: bolder;
    font-size: 14px;
}

.switchMenu p i{
    position: absolute;
    bottom: 8px;
    left: 38px;
    width: 20px;
    height: 3px;
    border-radius: 2px;
    background-color: #E92336;
}
.switchMenu p:nth-of-type(2) i{
    display: none;
}
.switchMenu .menuBuyers{
    /* display: none; */
}
.switchMenu div a:hover{
    transform: translate(0,-5px);
    color: #E92336;
}
.switchMenu .menuBuyers a{
    float: left;
    width: 63px;
    height: 65px;
    margin-top: 15px;
}
.switchMenu .menuBuyers a img{
    float: left;
    width: 32px;
    height: 32px;
    margin-left: 16px;
    margin-bottom: 10px;
}
.switchMenu .menuBuyers a span{
    float: left;
    width: 63px;
    font-size: 12px;
    text-align: center;
}
.switchMenu .menuSeller{
    display: none;
}
.switchMenu .menuSeller a{
    float: left;
    width: 63px;
    height: 65px;
    margin-top: 15px;
}
.switchMenu .menuSeller a img{
    float: left;
    width: 32px;
    height: 32px;
    margin-left: 16px;
    margin-bottom: 10px;
}
.switchMenu .menuSeller a span{
    float: left;
    width: 63px;
    font-size: 12px;
    text-align: center;
}
.mainRight .mainRightBottom{
    width: 190px;
    height: 200px;
    background-color: #fff;
}
.mainRightBottom div:nth-of-type(1){
    width: 190px;
    height: 147px;
    padding: 6px 15px;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid #eee;
}
.mainRightBottom div:nth-of-type(1) h3{
    font-size: 14px;
    color: #E92336;
    height: 30px;
    line-height: 30px;
}
.mainRightBottom div:nth-of-type(1) h3 i{
    position: absolute;
    top: 13px;
    left: 5px;
    width: 3px;
    height: 15px;
    background-color: #E92336;
}
.mainRightBottom div:nth-of-type(1) a{
    float: left;
    width: 161px;
    height: 27px;
    line-height: 27px;
    font-size: 12px;
    color: #333;
}
.mainRightBottom div:nth-of-type(1) a:hover{
    color: #E92336;
}
.mainRightBottom div:nth-of-type(2) p{
    width: 152px;
    height: 32px;
    background-color: #4a4a48;
    color: #dacf95;
    text-align: center;
    line-height: 32px;
    font-size: 12px;
    border-radius: 15px;
    margin: 10px auto;
    cursor: pointer;
}


/* 品牌区域样式 */
.brand{
    width: 1190px;
    height: 182px;
    margin: 10px auto 20px;
    background-color: #fff;
    overflow: hidden;
    
}
.brand>div{
    width: 198px;
    height: 91px;
    /* background-color: aquamarine; */
    float: left;
    border-left: 0.5px solid #eee;
    border-bottom: 0.5px solid #eee;
    position: relative;
    overflow: hidden;
}
.brand>div:nth-of-type(even){
    width: 197px;
}
.brand>div div:nth-of-type(1){
    text-align: center;
    height: 100%;
}
.brand>div div:nth-of-type(1) img{
    vertical-align: middle;
}
/* 设置img水平垂直对齐 */
/* 基线对齐 */
.brand>div div:nth-of-type(1) span{
    width: 0px;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}
.brand>div div:nth-of-type(2){
    height: 91px;
    position: absolute;
    top: 91px;
    left: 0px;
    background: rgba(228,27,46,.8); 
    color: #fff;
    text-align: center;
    /* display: none; */
}
.brand>div div:nth-of-type(2) p{
    width: 197px;
    height: 20px;
    line-height: 20px;
    margin: 10px auto;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.brand>div div:nth-of-type(2) span{
    width: auto;
    font-size: 12px;
    border: 1px solid #fff;
    padding: 0 5px;
    line-height: 24px;
    margin: 0 auto;
    display: inline-block;
    height: 26px;
    line-height: 26px;
}

/* 热门采购样式 */
.hotPurchase{
    width: 1190px;
    height: 353px;
    /* background-color: #dacf95; */
    margin: 0 auto;
}
.hotPurchase .purchaseLeft{
    width: 944px;
    height: 353px;
    float: left;
    overflow: hidden;
    background-color: #F4F4F4;
}
.hotPurchase .purchaseLeft .purchaseNav{
    width: 100%;
    height: 49px;
    background-color: #fff;
    margin-bottom: 2px;
}
.purchaseNav img{
    float: left;
    margin-top: 11px;
    margin-left: 20px;
}
.purchaseNav ul{
    float: left;
    width: 654px;
    height: 100%;
}
.purchaseNav ul li{
    float: left;
    list-style: none;
    height: 49px;
    line-height: 49px;
    text-align: center;
    font-size: 12px;
    margin: 0 15px;
}
.purchaseNav ul li:hover{
    color: #e41b2e;
}
.purchaseNav p{
    float: right;
    width: 71px;
    height: 14px;
    font-size: 12px;
    color: #e41b2e;
    margin: 17px 5px;
    position: relative;
    font-weight: bolder;
}
.purchaseNav p span{
    width: 14px;
    height: 14px;
    border: 1px solid #e41b2e;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 14px;
    margin-left: 5px;
}
.purchaseNav p:hover span{
    background-color: #e41b2e;
    color: #fff;
}
.hotPurchase .purchaseLeft .purchaseContent{
    width: 961px;
    height: 304px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.purchaseContent ul{
    width: 946px;
    height: 1824px;
}
.purchaseContent ul li{
    float: left;
    list-style: none;
    width: 273px;
    height: 130px;
    padding: 20px 20px 0;
    margin: 0 2px 2px 0;
    background-color: #fff;
}
.purchaseContent ul li div:nth-of-type(1){
    width: 272px;
    height: 30px;
}
.purchaseContent ul li div:nth-of-type(1) p{
    float: left;
    width: 190px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.purchaseContent ul li div:nth-of-type(1) a{
    float: left;
    width: 72px;
    height: 30px;
    border: 1px solid #e41b2e;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #e41b2e;
    font-weight: 800;
}
.purchaseContent ul li div:nth-of-type(2){
    width: 272px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #eee;
}
.purchaseContent ul li div:nth-of-type(2) p{
    float: left;
    font-size: 12px;
    
}
.purchaseContent ul li div:nth-of-type(2) h3{
    float: right;
    font-size: 12px;
    font-weight: normal;
}
.purchaseContent ul li div:nth-of-type(2) span{
    color: #e41b2e;
    font-weight: 800;
}
.purchaseContent ul li div:nth-of-type(3){
    width: 272px;
    height: 40px;
}
.purchaseContent ul li div:nth-of-type(3) a{
    float: left;
    width: 272px;
    color: #666;
    font-size: 12px;
    text-align: left;
    line-height: 40px;
}
.hotPurchase .purchaseRight{
    float: right;
    width: 198px;
    height: 312px;
    padding: 20px;
    background-color: #fff;
}
.purchaseRight h2{
    float: left;
    width: 100%;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 18px;
}
.purchaseRight span{
    color: #e41b2e;
}
.purchaseRight h3{
    float: left;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    margin: 5px 0 15px;
}
.purchaseRight input{
    float: left;
    height: 28px;
    outline: none;
    border:1px solid #ccc;
    /* color: #e41b2e; */
    margin: 5px 0;
    padding-left: 6px;
}
.purchaseRight input:nth-of-type(1),.purchaseRight input:nth-of-type(4),.purchaseRight input:nth-of-type(5){
    width: 192px;
}
.purchaseRight input:nth-of-type(2),.purchaseRight input:nth-of-type(6){
    width: 83px;
}
.purchaseRight input:nth-of-type(3){
    width: 83px;
    margin-left: 16px;
}
.purchaseRight input:nth-of-type(7){
    width: 83px;
    height: 30px;
    margin-left: 16px;
    cursor: pointer;
}
.purchaseRight button{
    float: left;
    width: 140px;
    height: 32px;
    background-color: #e41b2e;
    border: 0px;
    border-radius: 17px;
    color: #fff;
    margin-left: 26px;
    margin-top: 20px;
}
.areaTitle{
    width: 1187px;
    height: 25px;
    margin: 20px 0 30px;
    border-left: 4px solid #e41b2e;
    text-indent: 10px;
    font-size: 20px;
    font-weight: bolder;
    float: left;
}
.market{
    width: 1190px;
    height: 345px;
    margin: 30px auto 0;
    overflow: hidden;
}
.marketLeft,.marketRight{
    width: 590px;
    height: 274px;
    background: #fff;
    float: left;
}
.marketRight{
    margin-left: 10px;
}
.marketLeft div:nth-of-type(1),.marketRight div:nth-of-type(1){
    width: 200px;
    height: 274px;
    float: left;
}
.marketLeft div:nth-of-type(2),.marketRight div:nth-of-type(2){
    width: 390px;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    float: left;
}
.marketLeft div:nth-of-type(2) p,.marketRight div:nth-of-type(2) p{
    width: 80px;
    height: 20px;
    border-radius: 10px;
    margin-right: 30px;
    text-align:center;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    background: linear-gradient(125deg,#ff5b6b,#ec2133);
    float: left;
    
}
.marketLeft div:nth-of-type(n+3),.marketRight div:nth-of-type(n+3){
    width: 190px;
    height: 190px;
    margin-top: 10px;
    float: left;
    text-align: center;
}
.marketLeft div:nth-of-type(n+3) p,.marketRight div:nth-of-type(n+3) p{
    width: 100%;
    height: 20px;
    margin: 10px 0 5px;
}
.marketLeft div:nth-of-type(n+3) span,.marketRight div:nth-of-type(n+3) span{
    width: 100%;
    height: 20px;
    display: block;
    font-size: 12px;
    color: #999;
}
