*{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
}
#container{
    width: 100%;
    height: 5000px;
}
/* 右侧固定菜单样式 */
.fixedMenu{
    width: 36px;
    background-color: #DBDBDB;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 100;
}
.fixedMenu .fixedMenuMain{
    width: 36px;
    height: 144px;
    position: absolute;
    top: 40%;
}
.fixedMenu .fixedMenuMain a{
    width: 36px;
    height: 36px;
    position: relative;
    /* background-color: aqua; */
    float: left;
}
.fixedMenu .fixedMenuMain a p{
    float: right;
    color: #fff;
}
.fixedMenu .fixedMenuMain a p:nth-of-type(1){
    width: 36px;
    height: 36px;
}
.fixedMenu .fixedMenuMain a p:nth-of-type(2){
    width: 0px;
    height: 36px;
    position: absolute;
    left: -80px;
    background-color: #E92336;
    text-align: center;
    line-height: 36px;
    font-size:12px;
    display: none;
}
.fixedMenu .fixedMenuMain a:nth-of-type(1) p:nth-of-type(1){
    background: url(../img/index/fixedMenu.png) no-repeat;
    background-position: -38px -36px;
}
.fixedMenu .fixedMenuMain a:nth-of-type(2) p:nth-of-type(1){
    background: url(../img/index/fixedMenu.png) no-repeat;
    background-position: -38px -108px;
}
.fixedMenu .fixedMenuMain a:nth-of-type(3) p:nth-of-type(1){
    background: url(../img/index/fixedMenu.png) no-repeat;
    background-position: -38px -252px;
}
.fixedMenu .fixedMenuMain a:nth-of-type(4) p:nth-of-type(1){
    background: url(../img/index/fixedMenu.png) no-repeat;
    background-position: -38px -360px;
}
.fixedMenu .fixedMenuMain a:nth-of-type(3) .popupImg{
    width: 120px;
    height: 162px;
    left: -130px;
    top: -100px;
    background: url(../img/index/qcode_cn.png);
    opacity: 0;
}


.head{
    width: 100%;
    height: 30px;
    background-color: #f4f4f4;
}
.headmain{
    width: 1190px;
    height: 30px;
    margin: 0 auto;
}
.headLeft{
    width: 370px;
    height: 30px;
    float: left;
    color: #333;
}
.headLeft span{
    height: 14px;
    font-size: 12px;
    line-height: 30px;
    color: #333;
    float: left;
}
.headLeft a{
    width: 68px;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #333;
    text-align: center;
    float: left ;
    margin-top: 8px;
    color: #0055cc;
}
.headLeft a:nth-of-type(1){
    width: 40px;
    border-right: 1px solid #999;
}
.headRight{
    float: right;
}
.headRight ul li{
    float: left;
    list-style: none;
    height: 28px;
    border: 1px solid #f4f4f4;
    position: relative;
    z-index: 10;
}
.headRight ul li>a{
    color: #333;
    font-size: 12px;
    width: 89px;
    height: 14px;
    float: left;
    margin-top: 7px;
    text-align:center;
    line-height: 14px;
    border-right: 1px solid #f4f4f4;
    
}
.headRight ul li>div{
    position: absolute;
    top: 29px;
    left:-1px;
    border: 1px solid #eee;
    border-top: 0;
    display: none;
}
.headRight ul li div{
    background-color: #fff;
}
.headRight ul li div a{
    float: left;
    color: #333;
}
.headRight ul li:nth-of-type(2) div{
    width: 152px;
    height: 83px;
}
.headRight ul li div a{
    font-size: 12px;
}
.headRight ul li:nth-of-type(2) div a{
    width: 65px;
    height: 24px;
    line-height: 24px;
    margin-left: 5px;
}
.headRight ul li:nth-of-type(2) div a:nth-of-type(-n+2){
    font-weight: 800;
}
.headRight ul li:nth-of-type(3) div{
    width: 91px;
    height: 114px;
}
.headRight ul li:nth-of-type(3) div a{
    width: 86px;
    height: 28px;
    line-height: 28px;
    margin-left: 5px;
}
.headRight ul li:nth-of-type(4) div{
    width: 91px;
    height: 86px;
}
.headRight ul li:nth-of-type(4) div a{
    width: 86px;
    height: 28px;
    line-height: 28px;
    margin-left: 5px;
}
.headRight ul li:nth-of-type(5) div{
    width: 91px;
    height: 86px;
}
.headRight ul li:nth-of-type(5) div a{
    width: 86px;
    height: 28px;
    line-height: 28px;
    margin-left: 5px;
}
.headRight ul li:nth-of-type(6)>div{
    width: 275px;
    height: 258px;
    position: absolute;
    left: -185px;
}
.headRight ul li:nth-of-type(6) div div{
    width: 275px;
    height: 43px;
    line-height: 43px;
    border-top: 1px dashed #ccc;
}
.headRight ul li:nth-of-type(6) div div:nth-of-type(1){
    border-top: 0px;
}
.headRight ul li:nth-of-type(6) div div p{
    float: left;
    margin: 0 10px;
    font-size: 12px;
    font-weight: 800;
}
.headRight ul li:nth-of-type(6) div div a{
    margin-right: 10px;
}

.headRight ul li .shoppingCart{
    background: url(./img/详情/icon_cart.png) no-repeat;
}
.headRight ul li:nth-of-type(n+2)>a{
    background: url(./img/index/common_ico.gif) no-repeat;
    background-position: 78px -20px;

}

.headLogo{
    width: 1190px;
    height: 115px;
    margin: 0 auto 30px;
}
.headLogoLeft{
    float: left;
    position: relative;
}
.headLogoLeft img{
    margin-top: 20px;
    float: left;
}
.headLogoLeft img:nth-of-type(2){
    width: 230px;
    border-left: 1px solid #eee;
    padding-left: 10px;
    margin-top: 35px;
}
.headLogoLeft img:nth-of-type(3){
    width: 360px;
    border: 1px solid #eee;
    position: absolute;
    top: 60px;
    left: 220px;
    display: none;
}
.headLogoLeft img:nth-of-type(2):hover+img:nth-of-type(3){
    display: block;
}
.headLogoRight{
    float: right;
    width: 540px;
    height: 70px;
    margin-top: 30px;
}
.searchForm{
    width: 540px;
    height: 40px;
}

.searchForm input{
    width: 333px;
    height: 38px;
    padding-left: 10px;
    border: 2px solid #F4382D;
    border-right: 0px;
    outline: none;
    float: left;
}
.searchForm a:nth-of-type(1){
    float: left;
    width: 90px;
    height: 42px;
    background-color: #F4382D;
    color: #fff;
    text-align: center;
    line-height: 42px;
    font-size: 14px;
}
.searchForm a:nth-of-type(2){
    float: left;
    width: 90px;
    height: 42px;
    margin-left: 10px;
    text-align: center;
    line-height: 42px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
}
.searchHot ul{
    width: 700px;
    height: 30px;
}
.searchHot ul li{
    float: left;
    margin-left: 10px;
    list-style: none;
}
.searchHot ul li a{
    color: #fff;
    font-size: 12px;
}
.info{
    width: 1190px;
    height: 120px;
    margin: 0 auto;
}
.info h3{
    float: left;
    width: 660px;
    height: 40px;
    font-size: 24px;
    font-weight: normal;
}
.info p{
    float: left;
    width: 640px;
    height: 53px;
    font-size: 12px;
}
.info img{
    float: right;
    width: 90px;
    height: 90px;
    position: relative;
    top: -40px;
}
.info span{
    float: right;
    font-size: 12px;
    position: relative;
    top: 55px;
    right: -87px;
}
.headNav{
    width: 100%;
    height: 40px;
    background-color: #f6676b;
}
.headNav ul{
    width: 1190px;
    height: 40px;
    margin: 0 auto;
}
.headNav ul li{
    list-style-type: none;
    float: left;
    width: 114px;
    height: 38px;
    line-height: 38px;
    color: #fff;
    position: relative;
    text-align: center;
    border-radius: 5px;
}
.headNav ul li i{
    width: 7px;
    height: 6px;
    position: absolute;
    top: 16px;
    left: 100px;
    background:url(./img/详情/nav_arrow.png) no-repeat;
}
.headNav ul li:nth-of-type(2) div{
    width: 148px;
    height: 225px;
    position: absolute;
    top: 40px;
    background: #fff;
    border: 1px solid #eee;
    padding: 7px 0;
    display: none;
}
.headNav ul li:nth-of-type(2) div p{
    width: 118px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px 0px 20px;
    color: #333;
    font-size: 12px;
    text-align: left;
    cursor: pointer;
}
.headNav ul li:nth-of-type(2) div p:nth-of-type(9){
    color: #0066dd;
}
.headNav ul li:nth-of-type(2) div p:nth-of-type(-n+8):hover{
    color: #e04b43;
}
.headNav ul li:nth-of-type(4) div{
    width: 130px;
    height: 40px;
    text-align: left;
    line-height: 40px;
    font-size: 12px;
    padding-left: 20px;
    position: absolute;
    top: 40px;
    color: #333;
    border: 1px solid #eee;
    display: none;
}

.main{
    width: 100%;
    background: #FBE4E7 url(../img/shopDetails/main-bg.jpg) no-repeat;
    margin: 0 auto;
    overflow: hidden;
}
.mainHeader{
    width: 1190px;
    height: 18px;
    margin: 10px auto;
}
.mainHeader p{
    font-size: 12px;
    color: #999;
}
.mainHeader p span{
    color: #666;
}
.mainHeader p span:hover{
    color: #e41c2e;
}


.mainOne{
    width: 1190px;
    height: 600px;
    margin: 0px auto 20px;
    background: #fff;
}
.mainOne .mainOneLeft{
    width: 1000px;
    height: 100%;
    position: relative;
    /* background-color: #ccc; */
    border-right: 1px solid #eee;
}
.mainOne .mainOneLeft .mainOneTitle{
    width: 100%;
    height: 60px;
    overflow: hidden;
    float: left;
}
.mainOne .mainOneLeft .mainOneTitle>p{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}
.mainOne .mainOneLeft .mainOneTitle div{
    width: 100px;
    height: 130px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.mainOne .mainOneLeft .mainOneTitle div:hover p{
    display: block;
}
.mainOne .mainOneLeft .mainOneTitle div>span{
    float: right;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(../img/shopDetails/show_icon.png) no-repeat;
    background-position: -22px 0;
}
.mainOne .mainOneLeft .mainOneTitle div p{
    width: 106px;
    height: 136px;
    position: absolute;
    display: none;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 10;
}
.mainOne .mainOneLeft .mainOneTitle div p img{
    width: 100px;
    height: 100px;
    float: left;
    margin: 3px;
}
.mainOne .mainOneLeft .mainOneTitle div p span{
    width: 106px;
    height: 30px;
    line-height: 30px;
    float: left;
    font-size: 12px;
    background: #F2F2F2;
    text-align: center;
}
.mainOne .mainOneLeft .mainOneLeftImg{
    width: 360px;
    height: 410px;
    margin: 0 20px;
    float: left;
}
.mainMinImg{
    width: 360px;
    height: 365px;
    border: 1px solid #eee;
}
.mainMinImg img{
    width: 360px;
    margin-top: 62px;
}
.mainOneLeftImg div:nth-of-type(2){
    width: 360px;
    height: 20px;
    padding-top: 25px;
    position: relative;
}
.mainOneLeftImg div:nth-of-type(2) a:nth-of-type(1){
    width: 75px;
    float: left;
    font-size: 12px;
    color: #666;
}
.mainOneLeftImg div:nth-of-type(2) a:nth-of-type(1) i{
    float: left;
    width: 16px;
    height: 16px;
    background: url(../img/icon-16.png) no-repeat 0 -144px;
    margin-right: 10px;
}
.mainOneLeftImg div:nth-of-type(2) a:nth-of-type(2){
    width: 53px;
    float: left;
    font-size: 12px;
    color: #666;
    margin-left: 30px;
}
.mainOneLeftImg div:nth-of-type(2) a:nth-of-type(2) i{
    width: 16px;
    height: 16px;
    float: left;
    background: url(../img/icon-16.png)no-repeat -18px -192px;
    margin-right: 10px;
}
.mainOneLeftImg div:nth-of-type(2) a:hover{
    color: #e41c2e;
}
.mainOneLeftImg div:nth-of-type(2) p{
    width: 150px;
    height: 100%;
    float: right;
    font-size: 12px;
    line-height: 16px;
}
.mainOneLeftImg div:nth-of-type(2) p span{
    width: 22px;
    height: 18px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
.mainOneLeftImg div:nth-of-type(2) p span:nth-of-type(1){
    background: url(../img/shopDetails/share_icon.png);
}
.mainOneLeftImg div:nth-of-type(2) p span:nth-of-type(2){
    background: url(../img/shopDetails/share_icon.png) 0 -75px;
}
.mainOneLeftImg div:nth-of-type(2) p span:nth-of-type(3){
    background: url(../img/shopDetails/share_icon.png) 0 -115px;
}
.mainOneLeftImg div:nth-of-type(2) p span:hover{
    opacity: .7;
}
.mainOneLeftImg div:nth-of-type(2) div{
    width: 160px;
    height: 185px;
    position: absolute;
    top: 45px;
    left: 210px;
    background: #fff;
    border: 1px solid #eee;
    display: none;
}
.mainOneLeftImg div:nth-of-type(2) div img{
    width: 160px;
    height: 160px;
    float: left;
}
.mainOneLeftImg div:nth-of-type(2) div p{
    float: left;
    width: 160px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    z-index: 10;
}


.mainOne .mainOneLeft .mainOneLeftInfo{
    width: 580px;
    height: 430px;
    background-color: aquamarine;
    float: left;
    position: relative;
}
.mainOne .mainOneLeft .mainOneLeftInfo .mainMaxImg{
    width: 402px;
    height: 402px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    background: red;
}
.mainOne .mainOneLeft .mainOneLeftInfo .mainMaxImg img{
    width: 800px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.mainOneLeftInfo div:nth-of-type(2){
    width: 580px;
    height: 100px;
    box-sizing: border-box;
    padding: 20px 20px 20px 0;
    background: #F4F4F4ed;
}
.mainOneLeftInfo div:nth-of-type(2)>span{
    width: 50px;
    height: 30px;
    padding-left: 20px;
    float: left;
    color: #666;
    font-size: 12px;
    line-height: 30px;
}
.mainOneLeftInfo div:nth-of-type(2) p{
    width: 450px;
    height: 30px;
    float: left;
    color: #e41c2e;
    font-size: 26px;
    margin-left: 20px;
    line-height: 30px;
}
.mainOneLeftInfo div:nth-of-type(2) p span{
    font-size: 14px;
}
.mainOneLeftInfo div:nth-of-type(3){
    width: 580px;
    height: 155px;
    background: blanchedalmond;
    box-sizing: border-box;
    padding: 15px 15px 0 15px;
}
.mainOneLeftInfo div:nth-of-type(3)>span{
    float: left;
    color: #666;
    font-size: 12px;
    margin-left: 20px;
    height: 35px;
    line-height: 35px;
}
.mainOneLeftInfo div:nth-of-type(3)>span:nth-of-type(2n+1){
    width: 70px;
}
.mainOneLeftInfo div:nth-of-type(3)>span:nth-of-type(2n){
    width: 430px;
}
.numberBox{
    width: 134px;
    height: 32px;
    float: left;
}
.numberBox span{
    float: left;
    width: 30px;
    height: 30px;
    background: #eee;
    color: #999;
    text-align: center;
    line-height: 25px;
    font-size: 30px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.numberBox input{
    float: left;
    width: 70px;
    height: 30px;
    text-align: center;
    border: 0px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    outline: none;
}
.mainOneLeftInfo div:nth-of-type(4){
    width: 580px;
    height: 70px;
    background: cadetblue;
    margin-top: 30px;
}
.mainOneLeftInfo div:nth-of-type(5){
    width: 580px;
    height: 40px;
    margin-top: 30px;
    background: chartreuse;
}
.mainTwo{
    width: 1190px;
    height: 300px;
    margin: 0px auto 20px;
    background: #fff;
}



.mainThree{
    width: 1190px;
    margin: 0 auto 20px;
    overflow: hidden;
}



.mainThree .mainThreeLeft{
    width: 190px;
    height: 680px;
    background: #fff;
    margin-right: 10px;
    float: left;
}



.mainThree .mainThreeRight{
    width: 990px;
    float: left;
    overflow: hidden;
}



.mainThree .mainThreeRight1{
    width: 100%;
    height: 9430px;
    background: #fff;
    margin-bottom: 20px;
}



.mainThree .mainThreeRight2{
    width: 100%;
    height: 585px;
    background: #fff;
    margin-bottom: 20px;
}



.mainThree .mainThreeRight3{
    width: 100%;
    height: 80px;
    background: #fff;
    
}



.footer{
    width: 100%;
    height: 130px;
    background: #fff;
}



.footer .footerContent{
    width: 990px;
    height: 100%;
    margin: 0 auto 20px;
    background: cadetblue;
}

