<!DOCTYPE html>
<html lang="cn">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>中国制造网-立足内贸领域，专注中国制造的B2B电子商务平台</title>
<link rel="icon" href="../img/favicon.ico">
<link rel="stylesheet" href="../css/index.css">
<style>
</style>
<body>
    <!-- 最外层容器 -->
<div id="container">
    <!-- 右侧固定菜单区域 -->
    <div class="fixedMenu">
        <div class="fixedMenuMain">
            <a href="#">
                <p></p>
                <p class="popupText">消息</p>
            </a>
            <a href="#">
                <p></p>
                <p class="popupText">我的足迹</p>
            </a>
            <a href="#">
                <p></p>
                <p class="popupImg"></p>
            </a>
            <a href="#">
                <p></p>
                <p class="popupText">留言反馈</p>
            </a>
        </div>
    </div>
    <!-- 头部导航、搜索框等区域 -->
    <div class="head">  
        <div class="headmain">
            <div class="headLeft">
                <span>您好！欢迎来到中国制造网</span>
                <a href="login.html" target="_blank">登录</a>
                <a href="register.html" target="_blank">免费注册</a>
            </div>
            <div class="headRight">
                <ul>
                    <li><a href="" class="shoppingCart">购物车(0)</a></li>
                    <li>
                        <a href="">我的办公室</a>
                        <div>
                            <a href="">销售</a>
                            <a href="">采购</a>
                            <a href="">发布产品</a>
                            <a href="">发询价单</a>
                            <a href="">管理产品</a>
                            <a href="">管理询价单</a>
                        </div>
                    </li>
                    <li>
                        <a href="">供应商服务</a>
                        <div>
                            <a href="">百销通服务</a>
                            <a href="">CRM</a>
                            <a href="">代理加盟</a>
                            <a href="">英文站服务</a>
                        </div>
                    </li>
                    <li>
                        <a href="">采购商服务</a>
                        <div>
                            <a href="">云ERP</a>
                            <a href="">云供应链</a>
                            <a href="">百购通服务</a>
                        </div>
                    </li>
                    <li>
                        <a href="">客服中心</a>
                        <div>
                            <a href="">常见问题</a>
                            <a href="">买家帮助</a>
                            <a href="">卖家帮助</a>
                        </div>
                    </li>
                    <li>
                        <a href="" style="border: 0px;">网站导航</a>
                        <div>
                            <div>
                                <p>供应商服务</p>
                                <a href="">百销通服务</a>
                                <a href="">CRM</a>
                                <a href="">代理加盟</a>
                            </div>
                            <div>
                                <p>采购商服务</p>
                                <a href="">云ERP</a>
                                <a href="">云供应链</a>
                                <a href="">百购通服务</a>
                            </div>
                            <div>
                                <p>产品</p>
                                <a href="">行业市场</a>
                                <a href="">产品目录</a>
                            </div>
                            <div>
                                <p>采购</p>
                                <a href="">询价信息</a>
                                <a href="">招募信息</a>
                                <a href="">采购专场</a> 
                            </div>
                            <div>
                                <p>诚信保障</p>
                                <a href="">资质认证</a>
                                <a href="">身份认证</a> 
                            </div>
                            <div>
                                <p>特色行业</p>
                                <a href="">机械设备</a>
                                <a href="">医药卫生</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="headLogo">  
            <div class="headLogoLeft">
                <img src="../img/logo_cn.png" alt="">
            </div>
            <div class="headLogoRight">
                <div class="searchForm">
                    <div class="chanpin">
                        <p>产品</p>
                        <div>
                            <p>公司</p>
                            <p>求购</p>
                        </div>
                    </div>
                    <input type="text" placeholder="请输入产品名称">
                    <a href="#" class="search">搜索</a>
                    <a href="#">发布询价单</a>
                </div>
                <div class="searchHot">
                    <ul>
                        <li><a href="#">激光打标机</a></li>
                        <li><a href="#">潜水搅拌机</a></li>
                        <li><a href="#">防风抑尘网</a></li>
                        <li><a href="#">耙斗装岩机</a></li>
                        <li><a href="#">更多></a><li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="headNav">
            <ul>
                <li><a href="#">行业分类</a></li>
                <li><a href="#">首页</a><i></i></li>
                <li><a href="#">采购中心</a><i></i></li>
                <li><a href="#">CRM</a><i></i></li>
                <li><a href="#">云供应链</a><i></i></li>
                <li><a href="#">行业市场</a><i></i></li>
                <li><a href="#">展会中心</a><i></i></li>
                <li><a href="#">机械设备</a><i></i></li>
                <li><a href="#">制造之美</a><i></i></li>
            </ul>
        </div>
    </div>
</div>
<script src="../js/jquery.1.8.3.js"></script>
<script src="../js/index.js"></script>
<script>
        
</script>
</body>

</html>